body {
    margin: 0;
    width:28px;
    height:24px;
    font-size:12px;

    font-family:SFUIDisplay-Light,SFUIDisplay;
    color:rgba(68,68,79,1);
    line-height:24px;
    background-image: url("img/background_alberta.jpg");
    background-repeat: repeat;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
    color: white;
}
.desk {
    /*background: greenyellow;*/
    min-width: 1400px;
    min-height: 800px;
}

.cover {
    position: relative;
    padding: 40px;
    padding-top: 20px;
    /*background: hsla(0, 0%, 100%, 0.62);*/
}

.card-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 20px;
    grid-auto-rows: 152px;
}

.card-shape {
    box-sizing: border-box;
    width: 152px;
    height: 228px;
    background:rgba(255,255,255,1);
    box-shadow:4px 4px 12px 0px rgba(255,255,255,0.75);
    border-radius:8px;
}

.card-back {
    background-image: url("img/lotus.jpg");
    background-position: center;
    background-size: cover;
}

.font-card {
    position: relative;
    padding: 10px;
    cursor: default;
    border: 1px solid #4d4c4cad;
}

.num-container {
    position: absolute;
    left: 6px;
    top: 4px;
    width: 18px;
}

.num-reverse {
    position: absolute;
    right: 6px;
    bottom: 4px;
    width: 18px;
    transform: rotate(180deg);
}

.num-card {
    text-align: center;
    font-size:18px;
    font-family:SFUIDisplay-Medium,SFUIDisplay;
    font-weight:500;
    color:rgba(23,23,37,1);
    line-height:24px;
}
.color-card {
    text-align: center;
    margin-top: -6px;
}

.content-card {
    cursor: default;
    margin-top: 10px;
    text-indent:20px;
    height: 150px;
    box-sizing: border-box;
}

.action-btn-container {
    margin-top: 18px;
    display: flex;
    justify-content: space-around;
}

.action-btn {
    font-size: 14px;
    font-weight: bold;
    color: rgb(82, 82, 88);
}

.action-btn:hover {
    cursor: pointer;
    font-size: 14px;
    /*font-weight: bold;*/
    border-bottom: 1px solid #afafaf;
    color: #232323;
}

.card-place {
    box-sizing: border-box;
    width: 152px;
    height: 228px;
    border: 2px solid white;
    border-radius:8px;
}

.icon_fangpian {
    color: rgb(229, 0, 18);
}

.operate-area {
    margin-top: 150px;
}


.operate-container {
    width: 152px;
    height: 228px;

}

.operate-container > .card-shape:not(:first-child) {
    margin-top: -180px;
}
